extends ./layout
block content
	article
		form(action='/topic/'+topic.id+'/edit' method='post')
			div
				input(type='text' name='title' placeholder='title' value=topic.title)
			div
				textarea(name='description' placeholder='description')
					=topic.description
			div
				input(type='text' name='author' placeholder='author' value=topic.author)
			div
				input(type='submit' value='EDIT')
				input(type='reset')
		a(href='/topic') cancel